VITE_FIREBASE_API_KEY=AIzaSyBv-GD8ZqfHJkLxCZr4sDtwvwRnNyPjfpo
VITE_FIREBASE_AUTH_DOMAIN=gestir-5520d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gestir-5520d
VITE_FIREBASE_STORAGE_BUCKET=gestir-5520d.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=862378532131
VITE_FIREBASE_APP_ID=1:862378532131:web:c60ca26fa25b7870684096
VITE_FIREBASE_MEASUREMENT_ID=G-ZGPGLN03QY

# For your Functions (local emulator by default)
VITE_FUNCTIONS_BASE=http://127.0.0.1:5001/gestir-5520d/us-central1
